In [1]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request 
#!pip install pyreadstat
import pyreadstat
#!pip install savReaderWriter
import savReaderWriter as sav

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [2]:


# List of SPSS file paths
file_paths = [
    r"../../_data/endes/2019/REC0111.sav",
    r"../../_data/endes/2019/RE223132.sav",
    r"../../_data/endes/2019/RE516171.sav",
]

# Lists to store DataFrames and metadata dictionaries
rec_dfs = []
var_labels_list = []
value_labels_list = []

# Loop through the file paths
for i, file_path in enumerate(file_paths):
    # Read SPSS file
    rec_df = pd.read_spss(file_path)
    rec_dfs.append(rec_df)

    # Obtain metadata
    with sav.SavHeaderReader(file_path, ioUtf8=True) as header:
        metadata = header.all()

    # Save variable labels and value labels
    value_labels = metadata.valueLabels
    var_labels = metadata.varLabels
    
    # Adding labels from sav file    
    rec_df.attrs[ 'var_labels' ] = var_labels
    rec_df.attrs[ 'value_labels' ] = value_labels
    # Assign a name to the DataFrame based on the index
    rec_df_name = f"rec_{i + 1}"
    rec_var_name = f"var_labels{i + 1}"
    rec_val_name = f"value_labels{i + 1}"
    globals()[rec_df_name] = rec_df
    globals()[rec_var_name] = var_labels
    globals()[rec_val_name] = value_labels

# Now, rec_dfs contains the DataFrames, var_labels_list contains variable labels, and value_labels_list contains value labels.
# Additionally, rec_1, rec_2, and rec_3 are assigned to the DataFrames.

In [3]:
# Etiqueta de las variables
var_labels3
# Etiqueta de los valores
value_labels3

{'V501': {0.0: 'Nunca casada',
  1.0: 'Casado',
  2.0: 'Viviendo juntos',
  3.0: 'Viuda',
  4.0: 'Divorciada',
  5.0: 'No viven juntos'},
 'V502': {0.0: 'Nunca casada',
  1.0: 'Actualmente casada',
  2.0: 'Anteriormente casada'},
 'V503': {1.0: 'Una vez', 2.0: 'Mas de una vez'},
 'V504': {1.0: 'Vive con ella', 2.0: 'Vive en otro sitio'},
 'V505': {0.0: 'No otras esposas', 98.0: 'No sabe'},
 'V506': {98.0: 'No sabe'},
 'V510': {1.0: 'Tiene mes y año',
  2.0: 'Tiene mes y edad - imputa año',
  3.0: 'Tiene año y edad - imputa mes',
  5.0: 'Tiene año - imputa mes',
  6.0: 'Tiene edad - imputa mes año',
  7.0: 'Tiene mes - imputa año',
  8.0: 'Ninguno - imputa todo'},
 'V513': {0.0: 'Nunca casada',
  1.0: 'De 0 a 4 años',
  2.0: 'De 5 a 9 años',
  3.0: 'De 10 a 14 años',
  4.0: 'De 15 a 19 años',
  5.0: 'De 20 a 24 años',
  6.0: 'De 25 a 29 años',
  7.0: 'De 30 a más años'},
 'V525': {0.0: 'Nunca tuvo relaciones sexuales', 96.0: 'En la primera union'},
 'V527': {100.0: 'Menos de un día',
  101.0: 'Días:',
  201.0: 'Semanas:',
  301.0: 'Meses:',
  401.0: 'Años:'},
 'V528': {31.0: '31 ó más días'},
 'V529': {997.0: 'Inconsistente'},
 'V530': {0.0: 'Sin marcador',
  1.0: 'N> int. desde el nacimiento',
  2.0: 'N + abst. > intervalo',
  3.0: 'N, pero el sexo no res.',
  4.0: '96, pero sin nacimiento',
  5.0: '96, pero act emb',
  6.0: '96, pero reanudó el sexo',
  7.0: 'N, último sexo antes de',
  8.0: 'N, inconsis 4 semanas',
  9.0: 'N, sex bef last birt'},
 'V531': {0.0: 'No tuve relaciones sexuales',
  97.0: 'Inconsistente',
  98.0: 'No sabe'},
 'V532': {0.0: 'Sin bandera',
  1.0: 'Despues de la entrevista',
  2.0: 'Después de concep> = 1 año',
  3.0: 'Después de concep <1 año',
  4.0: 'En marr, nunca marr',
  5.0: 'En marr, despues de concep',
  6.0: 'Despues del matrimonio'},
 'V535': {0.0: 'No', 1.0: 'Sí, estuvo casada', 2.0: 'Sí, convivió'},
 'V536': {0.0: 'Nunca tuvo relaciones sexuales',
  1.0: 'Activo en las últimas 4 semanas',
  2.0: 'No activo en las últimas 4 semanas - abstinencia postparto',
  3.0: 'No activo en las últimas 4 semanas - no abstinencia postparto'},
 'V537': {60.0: '60 meses o más', 97.0: 'Inconsistente'},
 'V538': {1.0: 'Muerte/viudez', 2.0: 'Divorcio', 3.0: 'Separación'},
 'V539': {1.0: 'Informante',
  2.0: 'Otra esposa',
  3.0: 'Hijos del cónyuge',
  4.0: 'Familia del cónyuge',
  6.0: 'Otro',
  7.0: 'Sin propiedad'},
 'V540': {0.0: 'No', 1.0: 'Sí'},
 'V541': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe/insegura'},
 'V602': {1.0: 'Tener un/otro hijo',
  2.0: 'No sabe/insegura',
  3.0: 'No más/ninguno',
  4.0: 'Esterilizada',
  5.0: 'Infertilidad'},
 'V603': {993.0: 'Despues del matrimonio',
  994.0: 'Pronto, ahora',
  996.0: 'Otro, No numérico',
  998.0: 'No sabe'},
 'V604': {0.0: 'De 0 a 11 meses',
  1.0: '1 año',
  2.0: '2 años',
  3.0: '3 años',
  4.0: '4 años',
  5.0: '5 años',
  6.0: '6 ó más años',
  7.0: 'No numérico',
  8.0: 'No sabe'},
 'V605': {1.0: 'Quiere dentro de 2 años',
  2.0: 'Quiere después de 2 ó más años',
  3.0: 'Quiere, no está seguro de tiempo',
  4.0: 'Indecisa',
  5.0: 'No quiere mas',
  6.0: 'Esterilizada',
  7.0: 'Infértil'},
 'V613': {96.0: 'Respuesta no numérica'},
 'V614': {6.0: '6 ó más', 7.0: 'Respuesta no numérica'},
 'V616': {993.0: 'Despues del matrimonio',
  994.0: 'Pronto/ahora',
  995.0: 'No puede quedar embarazada',
  996.0: 'Otro',
  998.0: 'No sabe'},
 'V621': {1.0: 'Ambos quieren el mismo número',
  2.0: 'Quiere más hijas/hijos',
  3.0: 'Quiere menos hijas/hijos',
  8.0: 'No sabe'},
 'V623': {0.0: 'Fértil',
  1.0: 'Embarazada',
  2.0: 'Amenorrea',
  3.0: 'Infértil, menopausia'},
 'V624': {0.0: 'Nunca tuvo relaciones sexuales',
  1.0: 'NeceSIDAd insatisfecha de espacio',
  2.0: 'NeceSIDAd insatisfecha de limite',
  3.0: 'Uso de espacio',
  4.0: 'Uso de límite',
  5.0: 'Falla de espacio',
  6.0: 'Falla de límite',
  7.0: 'Deseo de nacimiento <2 años',
  8.0: 'No sexo, quiere esperar',
  9.0: 'Infértil, menopausia'},
 'V625': {0.0: 'Fértil',
  1.0: 'Embarazada',
  2.0: 'Amenorreica',
  3.0: 'Infértil, menopausia'},
 'V626': {0.0: 'Nunca tuve relaciones sexuales',
  1.0: 'NeceSIDAd insatisfecha de espacio',
  2.0: 'NeceSIDAd insatisfecha de limitar',
  3.0: 'Uso de espacio',
  4.0: 'Uso de límite',
  5.0: 'Falla de espacio',
  6.0: 'Falla de límite',
  7.0: 'Deseo de nacimiento <2 años',
  8.0: 'No sexo, quiere esperar',
  9.0: 'Infértil, menopausia'},
 'V627': {96.0: 'Otro'},
 'V628': {96.0: 'Otro'},
 'V629': {96.0: 'Otro'},
 'V631': {1.0: 'Un gran problema',
  2.0: 'Un pequeño problema',
  3.0: 'No seria problema',
  4.0: 'No puede quedar embarazada/No tiene relaciones sexuales'},
 'V632': {1.0: 'Entrevistada principalmente',
  2.0: 'Esposo, compañero principalmente',
  3.0: 'Decisión conjunta',
  6.0: 'Otro'},
 'V633A': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V633B': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V633C': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V633D': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V633E': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V633F': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V633G': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V634': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V701': {0.0: 'Sin educación',
  1.0: 'Primario',
  2.0: 'Secundario',
  3.0: 'Superior',
  8.0: 'No sabe'},
 'V702': {98.0: 'No sabe'},
 'V704': {0.0: 'Otro, no trabaja, no especificada',
  1.0: 'Fuerzas Armadas',
  2.0: 'Fuerzas Policiales',
  5.0: 'Pensionado, Jubilado, Rentista, Estudiante.',
  11.0: 'Miembros del Poder Ejecutivo y de los Cuerpos Legislativos del Personal',
  12.0: 'Directores de Empresa (con 3 o más Directores)',
  13.0: 'Directores de la Educación',
  14.0: 'Gerente de Pequeñas Empresas (Talleres)',
  21.0: 'Profesionales de las Ciencias Físicas, Químicas, Matemáticas e Ingeniería, Civil, Arquitecto',
  22.0: 'Ingenierías (diferentes a Ing. Civil)',
  23.0: 'Profesionales de las Ciencias Biológicas, la Medicina y la Salud.',
  24.0: 'Profesores (Maestros y/o Pedagogos), Auxiliar de Educación',
  25.0: 'Profesionales de Derecho, Ciencias Económicas Administrativas',
  26.0: 'Bibliotecario, Ciencias Sociales, Periodistas, Psicólogos',
  27.0: 'Profesionales de las Artes, Escultura, Música y Afines',
  28.0: 'Otros Profesionales y Trabajadores Varios: Turismo y Hotelería, Relacionista Público, Diplomáticos, Sacerdotes',
  31.0: 'Técnicos de Nivel Medio en Ciencias Físicas, Químicas, Matemáticas e Ingeniería',
  32.0: 'Operadores de Equipos Especializados, Fotógrafos y Afines',
  33.0: 'Técnicos en Navegación Marítima y Aeronáutica e Inspectores de Seguridad, Salud y Control de Calidad',
  34.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de las Ciencias Biológicas',
  35.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de la Medicina y la Salud, Aplicación de Inyectables, Enfermera Técnic',
  36.0: 'Jefes de Ventas y Técnicos en Administración, Contabilidad, Economía y Operaciones Financieras y Comerciales (Afines), T',
  37.0: 'Agentes de Servicios Administrativos (Asesor Previsional AFP)',
  38.0: 'Asistentes y Auxiliares en la Administración',
  39.0: 'Artistas Afines, Trabajadores del Espectáculo, Atletas y Auxiliares de Cultos Religiosos',
  41.0: 'Jefes de Dependencias Administrativas, Oficinistas, Secretarias, Digitador, Tipeos por Computadora',
  42.0: 'Personal Administrativo y Empleados Afines',
  43.0: 'Jefes de Servicios de Transportes y Trabajadores Afines, Controlador de Microbús',
  44.0: 'Jefes de Servicios de Correos; Empleados de Bibliotecas, de Imprenta y Afines, Carteros, Mensajeros',
  45.0: 'Cajeros, Recepcionistas y Trabajadores Asimilados, Telefonista, Cobradores (Excluye el Cobrador de Microbús)',
  46.0: 'Empleados de Oficina en Operación de Campo y Otros Oficinistas, Encuestadores, Registradores, Supervisor de Campo, Auxil',
  51.0: 'Personal al Servicio Directo de los Pasajeros, Guía de Turismo, Aeromoza',
  52.0: 'Jefes, Ecónomas y Mayordomos, Azafata, Mozo',
  53.0: 'Trabajadores de los Cuidados Personales,  Auxiliar de Enfermería, Ayudante en Consultorio Dental',
  54.0: 'Peluqueros, Especialistas en Tratamiento de Belleza y Trabajadores Asimilados',
  55.0: 'Trabajadores de Servicios Varios, Modelos, Tramitador de Documentos para Sepelio, Cartomancia',
  56.0: 'Personal de los Servicios de Protección y Seguridad, Bombero, Policía Municipal, Serenazgo, Policía Particular',
  57.0: 'Comerciantes Vendedores al Por Mayor y Por Menor, Vendedor en Kiosko, Vendedora en Puesto de Mercado, Demostrador de Art',
  58.0: 'Comerciantes y Vendedores (No ambulatorio), No Clasificados Bajo otros Epígrafes, Vendedor Comisionista, Vendedor, Agent',
  61.0: 'Agricult. (Expl.) y Trab. Calificados de Cultivos Extensivos: Peones de Labranza y Peones Agropecuarios,Peones Forestale',
  62.0: 'Criadores y Trabajadores Pecuarios Calificados de Cría de Animales para el Mercado y Afines',
  63.0: 'Pescadores, Cazadores y Tramperos Peones de la Pesca, la Caza y la Trampa',
  71.0: 'Mineros, Canteros, Sondistas y Trabajadores Asimilados',
  72.0: 'Obreros de Tratamiento de la Madera y de la Fabricación de Papel',
  73.0: 'Obreros de los Tratamientos Químicos y Trabajadores Asimilados',
  74.0: 'Hilanderos, Tejedores, Tintoreros y Trabajadores Asimilados',
  75.0: 'Obreros de la Preparación, Curtido y Tratamiento de Pieles',
  76.0: 'Obreros de la Preparación de Alimentos y Bebidas Degollador de Reses, Cortador de Carne, Panadero, Pastelero',
  77.0: 'Obreros de Calzado, Sastres, Modistos, Peleteros, Ebanistas, Tapiceros y Otros Afines, Sombrerero',
  78.0: 'Obreros, Mecánicos y Ajustadores de Metales, Equipos Eléctricos, Electrónicos y de Vehículos de Motor, Mecánico de Vehíc',
  79.0: 'Ajustadores, Montadores e Instaladores de Máquinas e Instrumentos de Precisión, Relojeros, Mecánicos, Joyeros y Plateros',
  81.0: 'Obreros de la Fabricación de Productos de Caucho y Plástico, Instrumentos de Música, Pintores y Conductores de Maquinari',
  82.0: 'Confeccionadores de Productos de Papel y Cartón',
  83.0: 'Obreros de las Artes Gráficas, Fotógrafo (Excluye Fotógrafo Ambulante)',
  84.0: 'Obreros Manufactureros y Trabajadores Asimilados No Clasificados en Otras Clasificaciones',
  85.0: 'Pintores de Edificios, de Decoración de Teatro, de Construcción Metálica, de Autos, de Pincel y de Rodillo',
  86.0: 'Obreros en la Construcción, Albañil, Carpintero, Ebanista',
  87.0: 'Operadores de Máquinas Agrícolas, Fijas y de Instalaciones Similares y Obreros de la Manipulación de Mercancías y Materi',
  88.0: 'Conductores de Medios de Transporte y Personas en Ocupaciones Afines (Excepto a Pedal y a Mano), Chofer, Taxista',
  91.0: 'Vendedores Ambulantes',
  93.0: 'Cobradores y Vendedores de los Servicios de Transporte y Afines, Cobrador de Microbús',
  94.0: 'Personal Doméstico, Limpiadores, Lavanderos, Planchadores y Afines, Conserje, Limpiabotas, Fotógrafo Ambulante, Jardiner',
  95.0: 'Mensajeros, Repartidores, Porteros y Afines, Lector de Medidores, Guardián',
  96.0: 'Recolectores de Basura',
  98.0: 'Peones de la Minería, Suministro Electricidad, Gas y Agua, la Construcción, la Industria Manufacturera y el Transporte'},
 'V705': {0.0: 'No trabaja',
  1.0: 'Profesional, Técnico, Gerente',
  2.0: 'Eclesiástico',
  3.0: 'Ventas',
  4.0: 'Agricultor, trabajador independiente',
  5.0: 'Agricultor, empleado',
  6.0: 'Empleado del hogar',
  7.0: 'Servicios',
  8.0: 'Habilidades manuales',
  9.0: 'Sin habilidades manuales'},
 'V714': {0.0: 'No', 1.0: 'Sí'},
 'V714A': {0.0: 'No', 1.0: 'Sí'},
 'V715': {98.0: 'No sabe'},
 'V716': {0.0: 'Otro, no trabaja, no especificada',
  1.0: 'Fuerzas Armadas',
  2.0: 'Fuerzas Policiales',
  5.0: 'Pensionado, Jubilado, Rentista, Estudiante.',
  11.0: 'Miembros del Poder Ejecutivo y de los Cuerpos Legislativos del Personal',
  12.0: 'Directores de Empresa (con 3 o más Directores)',
  13.0: 'Directores de la Educación',
  14.0: 'Gerente de Pequeñas Empresas (Talleres)',
  21.0: 'Profesionales de las Ciencias Físicas, Químicas, Matemáticas e Ingeniería, Civil, Arquitecto',
  22.0: 'Ingenierías (diferentes a Ing. Civil)',
  23.0: 'Profesionales de las Ciencias Biológicas, la Medicina y la Salud.',
  24.0: 'Profesores (Maestros y/o Pedagogos), Auxiliar de Educación',
  25.0: 'Profesionales de Derecho, Ciencias Económicas Administrativas',
  26.0: 'Bibliotecario, Ciencias Sociales, Periodistas, Psicólogos',
  27.0: 'Profesionales de las Artes, Escultura, Música y Afines',
  28.0: 'Otros Profesionales y Trabajadores Varios: Turismo y Hotelería, Relacionista Público, Diplomáticos, Sacerdotes',
  31.0: 'Técnicos de Nivel Medio en Ciencias Físicas, Químicas, Matemáticas e Ingeniería',
  32.0: 'Operadores de Equipos Especializados, Fotógrafos y Afines',
  33.0: 'Técnicos en Navegación Marítima y Aeronáutica e Inspectores de Seguridad, Salud y Control de Calidad',
  34.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de las Ciencias Biológicas',
  35.0: 'Técnicos de Nivel Medio y Trabajadores Asimilados de la Medicina y la Salud, Aplicación de Inyectables, Enfermera Técnic',
  36.0: 'Jefes de Ventas y Técnicos en Administración, Contabilidad, Economía y Operaciones Financieras y Comerciales (Afines), T',
  37.0: 'Agentes de Servicios Administrativos (Asesor Previsional AFP)',
  38.0: 'Asistentes y Auxiliares en la Administración',
  39.0: 'Artistas Afines, Trabajadores del Espectáculo, Atletas y Auxiliares de Cultos Religiosos',
  41.0: 'Jefes de Dependencias Administrativas, Oficinistas, Secretarias, Digitador, Tipeos por Computadora',
  42.0: 'Personal Administrativo y Empleados Afines',
  43.0: 'Jefes de Servicios de Transportes y Trabajadores Afines, Controlador de Microbús',
  44.0: 'Jefes de Servicios de Correos; Empleados de Bibliotecas, de Imprenta y Afines, Carteros, Mensajeros',
  45.0: 'Cajeros, Recepcionistas y Trabajadores Asimilados, Telefonista, Cobradores (Excluye el Cobrador de Microbús)',
  46.0: 'Empleados de Oficina en Operación de Campo y Otros Oficinistas, Encuestadores, Registradores, Supervisor de Campo, Auxil',
  51.0: 'Personal al Servicio Directo de los Pasajeros, Guía de Turismo, Aeromoza',
  52.0: 'Jefes, Ecónomas y Mayordomos, Azafata, Mozo',
  53.0: 'Trabajadores de los Cuidados Personales,  Auxiliar de Enfermería, Ayudante en Consultorio Dental',
  54.0: 'Peluqueros, Especialistas en Tratamiento de Belleza y Trabajadores Asimilados',
  55.0: 'Trabajadores de Servicios Varios, Modelos, Tramitador de Documentos para Sepelio, Cartomancia',
  56.0: 'Personal de los Servicios de Protección y Seguridad, Bombero, Policía Municipal, Serenazgo, Policía Particular',
  57.0: 'Comerciantes Vendedores al Por Mayor y Por Menor, Vendedor en Kiosko, Vendedora en Puesto de Mercado, Demostrador de Art',
  58.0: 'Comerciantes y Vendedores (No ambulatorio), No Clasificados Bajo otros Epígrafes, Vendedor Comisionista, Vendedor, Agent',
  61.0: 'Agricult. (Expl.) y Trab. Calificados de Cultivos Extensivos: Peones de Labranza y Peones Agropecuarios,Peones Forestale',
  62.0: 'Criadores y Trabajadores Pecuarios Calificados de Cría de Animales para el Mercado y Afines',
  63.0: 'Pescadores, Cazadores y Tramperos Peones de la Pesca, la Caza y la Trampa',
  71.0: 'Mineros, Canteros, Sondistas y Trabajadores Asimilados',
  72.0: 'Obreros de Tratamiento de la Madera y de la Fabricación de Papel',
  73.0: 'Obreros de los Tratamientos Químicos y Trabajadores Asimilados',
  74.0: 'Hilanderos, Tejedores, Tintoreros y Trabajadores Asimilados',
  75.0: 'Obreros de la Preparación, Curtido y Tratamiento de Pieles',
  76.0: 'Obreros de la Preparación de Alimentos y Bebidas Degollador de Reses, Cortador de Carne, Panadero, Pastelero',
  77.0: 'Obreros de Calzado, Sastres, Modistos, Peleteros, Ebanistas, Tapiceros y Otros Afines, Sombrerero',
  78.0: 'Obreros, Mecánicos y Ajustadores de Metales, Equipos Eléctricos, Electrónicos y de Vehículos de Motor, Mecánico de Vehíc',
  79.0: 'Ajustadores, Montadores e Instaladores de Máquinas e Instrumentos de Precisión, Relojeros, Mecánicos, Joyeros y Plateros',
  81.0: 'Obreros de la Fabricación de Productos de Caucho y Plástico, Instrumentos de Música, Pintores y Conductores de Maquinari',
  82.0: 'Confeccionadores de Productos de Papel y Cartón',
  83.0: 'Obreros de las Artes Gráficas, Fotógrafo (Excluye Fotógrafo Ambulante)',
  84.0: 'Obreros Manufactureros y Trabajadores Asimilados No Clasificados en Otras Clasificaciones',
  85.0: 'Pintores de Edificios, de Decoración de Teatro, de Construcción Metálica, de Autos, de Pincel y de Rodillo',
  86.0: 'Obreros en la Construcción, Albañil, Carpintero, Ebanista',
  87.0: 'Operadores de Máquinas Agrícolas, Fijas y de Instalaciones Similares y Obreros de la Manipulación de Mercancías y Materi',
  88.0: 'Conductores de Medios de Transporte y Personas en Ocupaciones Afines (Excepto a Pedal y a Mano), Chofer, Taxista',
  91.0: 'Vendedores Ambulantes',
  93.0: 'Cobradores y Vendedores de los Servicios de Transporte y Afines, Cobrador de Microbús',
  94.0: 'Personal Doméstico, Limpiadores, Lavanderos, Planchadores y Afines, Conserje, Limpiabotas, Fotógrafo Ambulante, Jardiner',
  95.0: 'Mensajeros, Repartidores, Porteros y Afines, Lector de Medidores, Guardián',
  96.0: 'Recolectores de Basura',
  98.0: 'Peones de la Minería, Suministro Electricidad, Gas y Agua, la Construcción, la Industria Manufacturera y el Transporte,'},
 'V717': {0.0: 'No trabaja',
  1.0: 'Profesional, Técnico, Gerente',
  2.0: 'Eclesiástico',
  3.0: 'Ventas',
  4.0: 'Agricultor, trabajador independiente',
  5.0: 'Agricultor, empleado',
  6.0: 'Empleada del hogar',
  7.0: 'Servicios',
  8.0: 'Habilidades manuales',
  9.0: 'Sin habilidades manuales'},
 'V719': {1.0: 'Para un familiar',
  2.0: 'Para alguien más',
  3.0: 'Por cuenta propia'},
 'V721': {1.0: 'En el hogar', 2.0: 'Fuera del hogar'},
 'V729': {0.0: 'Sin educación',
  1.0: 'Primaria incompleta',
  2.0: 'Primaria completa',
  3.0: 'Secundaria incompleta',
  4.0: 'Secundaria completa',
  5.0: 'Superior',
  8.0: 'No sabe'},
 'V730': {96.0: '96+', 98.0: 'No sabe'},
 'V731': {0.0: 'No',
  1.0: 'En el año pasado',
  2.0: 'Actualmente trabajando',
  3.0: 'Tener un trabajo, pero en licencia los últimos 7 días'},
 'V732': {1.0: 'Todo el año', 2.0: 'Por temporada', 3.0: 'De vez en cuando'},
 'V739': {1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'V740': {0.0: 'Propio',
  1.0: 'Familiar',
  2.0: 'De alguien más',
  3.0: 'Alquilado',
  4.0: 'Comunitario'},
 'V741': {0.0: 'No le pagan',
  1.0: 'Solo en efectivo',
  2.0: 'Efectivo y especie',
  3.0: 'Solo en especie'},
 'V743A': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y otra persona',
  4.0: 'Solo esposo/compañero',
  5.0: 'Alguien más'},
 'V743B': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'V743C': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'V743D': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'V743E': {0.0: 'Nadie',
  1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más'},
 'V743F': {1.0: 'Entrevistada',
  2.0: 'Entrevistada y esposo/compañero',
  3.0: 'Entrevistada y alguien más',
  4.0: 'Esposo/compañero',
  5.0: 'Alguien más',
  6.0: 'Otro',
  7.0: 'Esposo/compañero no tiene ganancias'},
 'V744A': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V744B': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V744C': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V744D': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},
 'V744E': {0.0: 'No', 1.0: 'Sí', 8.0: 'No sabe'},

In [4]:
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter. Update the dictionary.**

In [5]:
# Seleccionar columnas para rec_1
selected_columns_rec_1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
rec1_1 = rec_1[selected_columns_rec_1]
print(rec1_1)

# Seleccionar columnas para rec_2
selected_columns_rec_2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
rec2_1 = rec_2[selected_columns_rec_2]

# Seleccionar columnas para rec_3
selected_columns_rec_3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
rec3_1 = rec_3[selected_columns_rec_3]

                   CASEID V000    V001  V002  V003    V004    V007    V008  \
0            000100201  2  PE6     1.0   2.0   2.0     1.0  2019.0  1434.0
1            000100201  3  PE6     1.0   2.0   3.0     1.0  2019.0  1434.0
2            000102801  2  PE6     1.0  28.0   2.0     1.0  2019.0  1434.0
3            000102801  6  PE6     1.0  28.0   6.0     1.0  2019.0  1434.0
4            000104801  2  PE6     1.0  48.0   2.0     1.0  2019.0  1434.0
...                   ...  ...     ...   ...   ...     ...     ...     ...
38330        325406201  2  PE6  3254.0  62.0   2.0  3254.0  2019.0  1440.0
38331        325406301  2  PE6  3254.0  63.0   2.0  3254.0  2019.0  1440.0
38332        325407001  2  PE6  3254.0  70.0   2.0  3254.0  2019.0  1440.0
38333        325407201  2  PE6  3254.0  72.0   2.0  3254.0  2019.0  1440.0
38334        325407401  2  PE6  3254.0  74.0   2.0  3254.0  2019.0  1440.0

       V009    V010  ...      V024    V102 V120 V121 V122 V123 V124 V125  \
0       4.0  1986.0  ...  Amazonas  Urbano   Si   Si   Si   No   No   No
1       1.0  2007.0  ...  Amazonas  Urbano   Si   Si   Si   No   No   No
2       6.0  1983.0  ...  Amazonas  Urbano   Si   Si   Si   Si   Si   Si
3       3.0  1970.0  ...  Amazonas  Urbano   Si   Si   Si   Si   Si   Si
4       5.0  1991.0  ...  Amazonas  Urbano   No   No   No   No   No   No
...     ...     ...  ...       ...     ...  ...  ...  ...  ...  ...  ...
38330  12.0  1971.0  ...   Ucayali   Rural   No   No   No   No   No   No
38331   6.0  1988.0  ...   Ucayali   Rural   No   No   No   No   No   No
38332   7.0  1973.0  ...   Ucayali   Rural   No   No   No   No   No   No
38333  12.0  1994.0  ...   Ucayali   Rural   No   No   No   No   No   No
38334  10.0  1996.0  ...   Ucayali   Rural   No   No   No   No   No   No

                                V127  V133
0      Losetas, terrazos o similares  16.0
1      Losetas, terrazos o similares   6.0
2      Losetas, terrazos o similares  16.0
3      Losetas, terrazos o similares   4.0
4                   Cemento/ladrillo   1.0
...                              ...   ...
38330                           Pona   4.0
38331                           Pona   6.0
38332                           Pona   3.0
38333                           Pona   9.0
38334                           Pona   9.0

[38335 rows x 22 columns]

In [88]:
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,No,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,No,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0

In [6]:
# Actualizar diccionario de varibales 
new_var_labels1 = {col: var_labels1[col] for col in rec1_1}
new_var_labels2 = {col: var_labels2[col] for col in rec2_1}
new_var_labels3 = {col: var_labels3[col] for col in rec3_1}
new_var_labels1

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples'}

In [91]:
# In dictionaries of value labels, indicate that the key is in the list of columns selected
new_value_labels1 = {col: value_labels1[col] for col in rec1_1 if col in value_labels1}
new_value_labels2 = {col: value_labels2[col] for col in rec2_1 if col in value_labels2}
new_value_labels3 = {col: value_labels3[col] for col in rec3_1 if col in value_labels3}

new_value_labels1

{'V024': {1.0: 'Amazonas',
  2.0: 'Ancash',
  3.0: 'Apurimac',
  4.0: 'Arequipa',
  5.0: 'Ayacucho',
  6.0: 'Cajamarca',
  7.0: 'Callao',
  8.0: 'Cusco',
  9.0: 'Huancavelica',
  10.0: ' Huanuco',
  11.0: ' Ica',
  12.0: ' Junin',
  13.0: ' La Libertad',
  14.0: ' Lambayeque',
  15.0: ' Lima',
  16.0: ' Loreto',
  17.0: ' Madre de Dios',
  18.0: ' Moquegua',
  19.0: ' Pasco',
  20.0: ' Piura',
  21.0: ' Puno',
  22.0: ' San Martin',
  23.0: ' Tacna',
  24.0: ' Tumbes',
  25.0: ' Ucayali'},
 'V102': {1.0: 'Urbano', 2.0: 'Rural'},
 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
 'V127': {11.0: 'Tierra/arena',
  21.0: 'Madera (entablados)',
  31.0: 'Parquet o madera pulida',
  32.0: 'Làminas asfálticas, vinílicos o similares',
  33.0: 'Losetas, terrazos o similares',
  34.0: 'Cemento/ladrillo',
  96.0: 'Pona',
  97.0: 'Otro(pona)'},
 'V133': {97.0: 'Inconsistente'}}

## 3. Create var year and update diccionary

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [7]:
# Generar la nueva columna 'year' para rec_1_1
rec1_1.loc[:, 'year'] = 2019
# Actualizar etiquetas de variables para insertar nueva columna 'year'
new_var_labels1.update({'year': 'Year of the survey'})
new_var_labels1

C:\Users\SALVADOR\AppData\Local\Temp\ipykernel_7028\3706073395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rec1_1.loc[:, 'year'] = 2019

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'year': 'Year of the survey'}

## 4. Merge all data using CASEID

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [8]:
# Fusión de rec1_1, rec2_1 y rec3_1 usando CASEID
endes_2019 = pd.merge(rec1_1, rec2_1, on='CASEID', how='outer')
endes_2019 = pd.merge(endes_2019, rec3_1, on='CASEID', how='outer')
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,2.0,Sí,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,3.0,Sí,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,0.0,No,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,2.0,No,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,3.0,No,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,3.0,No,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,4.0,No,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,2.0,No,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,2.0,No,11.0

## 5. Create endes_2019

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [9]:
# Group the variable labels
var_labels = new_var_labels1
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)
print(var_labels)

{'CASEID': 'Identificación Cuestionario Individual', 'V000': 'Código y fase del país', 'V001': 'Conglomerado', 'V002': 'Número de vivienda', 'V003': 'Número de línea de entrevistada', 'V004': 'Unidad de área final', 'V007': 'Año de la entrevista', 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)', 'V009': 'Mes de nacimiento de la entrevistada', 'V010': 'Año de nacimiento de la entrevistada', 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)', 'V012': 'Edad actual - entrevistada', 'V024': 'Región', 'V102': 'Tipo de lugar de residencia', 'V120': 'En su hogar tiene: radio', 'V121': 'En su hogar tiene: televisión', 'V122': 'En su hogar tiene: refrigerador', 'V123': 'En su hogar tiene: bicicleta', 'V124': 'En su hogar tiene: motocicleta/motocar', 'V125': 'En su hogar tiene: coche/camión', 'V127': 'Material predominante del piso de la vivienda', 'V133': 'Educación en años simples', 'year': 'Year of the survey', 'V201': 'Total de niños nacidos', 'V218': 'Número de niños vivos', 'V301': 'Conocimiento de cualquier método', 'V302': 'Alguna vez usó cualquier método', 'V323': 'Marca de la píldora usada', 'V323A': 'Marca del preservativo utilizado', 'V325A': 'Costo del método actual', 'V326': 'Fuente para obtener el actual método anticonceptivo', 'V327': 'Fuente para obtener el actual método anticonceptivo (Grupos)', 'V337': 'Meses de uso del método actual', 'V359': 'Última discontinuidad del método los últimos 5 años', 'V360': 'Motivo de la última discontinuidad', 'V361': 'Patrón de uso', 'V362': 'Intención de uso', 'V363': 'Método futuro preferido', 'V364': 'Uso e intención de anticonceptivos', 'V367': 'Quería quedar embarazada:', 'V372': 'Se muestra el paquete de pastillas', 'V372A': 'Se muestra el paquete de Condónes', 'V375A': 'La razón principal para no utilizar un método', 'V376': 'La razón principal por la que no piensa usar ningún método en el futuro', 'V376A': 'Alguna vez usaría algún método', 'V379': 'Fuente conocida por cualquier método', 'V380': 'Fuente conocida por cualquier método (Grupos)', 'V501': 'Estado civil actual', 'V502': 'Actualmente, antes o nunca sacada', 'V503': 'Usted ha estado casada o conviviendo solo una vez, más de una vez', 'V504': 'Su esposo/compañer vive en el hogar o vive en otro lugar', 'V505': 'Número de otras esposas', 'V506': 'Número de rango de la esposa', 'V507': 'Mes - Primer matrimonio', 'V508': 'Año - Primer matrimonio', 'V509': 'Fecha del primer matrimonio (CMC)', 'V510': 'Integridad de la información para la fecha de inicio del primer matrimonio o unión', 'V511': 'Edad al primer matrimonio', 'V512': 'Años desde el primer matrimonio', 'V513': 'Duración del matrimonio (agrupado)', 'V525': 'Edad en la primera relación sexual', 'V613': 'Número ideal de niños', 'V714': 'Actualmente se encuentra trabajando', 'V715': 'Educación en años individuales del esposo/compañero'}

In [10]:
# Group the values labels
value_labels = new_value_labels1
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)
value_labels

NameError: name 'new_value_labels1' is not defined

In [123]:
# Applied the values and variables labels to endes_2019 data
endes_2019.attrs[ 'value_labels'] = value_labels
endes_2019.attrs[ 'var_labels' ] = var_labels
endes_2019.attrs[ 'var_labels' ]

{'CASEID': 'Identificación Cuestionario Individual',
 'V000': 'Código y fase del país',
 'V001': 'Conglomerado',
 'V002': 'Número de vivienda',
 'V003': 'Número de línea de entrevistada',
 'V004': 'Unidad de área final',
 'V007': 'Año de la entrevista',
 'V008': 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'V009': 'Mes de nacimiento de la entrevistada',
 'V010': 'Año de nacimiento de la entrevistada',
 'V011': 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'V012': 'Edad actual - entrevistada',
 'V024': 'Región',
 'V102': 'Tipo de lugar de residencia',
 'V120': 'En su hogar tiene: radio',
 'V121': 'En su hogar tiene: televisión',
 'V122': 'En su hogar tiene: refrigerador',
 'V123': 'En su hogar tiene: bicicleta',
 'V124': 'En su hogar tiene: motocicleta/motocar',
 'V125': 'En su hogar tiene: coche/camión',
 'V127': 'Material predominante del piso de la vivienda',
 'V133': 'Educación en años simples',
 'year': 'Year of the survey',
 'V201': 'Total de niños nacidos',
 'V218': 'Número de niños vivos',
 'V301': 'Conocimiento de cualquier método',
 'V302': 'Alguna vez usó cualquier método',
 'V323': 'Marca de la píldora usada',
 'V323A': 'Marca del preservativo utilizado',
 'V325A': 'Costo del método actual',
 'V326': 'Fuente para obtener el actual método anticonceptivo',
 'V327': 'Fuente para obtener el actual método anticonceptivo (Grupos)',
 'V337': 'Meses de uso del método actual',
 'V359': 'Última discontinuidad del método los últimos 5 años',
 'V360': 'Motivo de la última discontinuidad',
 'V361': 'Patrón de uso',
 'V362': 'Intención de uso',
 'V363': 'Método futuro preferido',
 'V364': 'Uso e intención de anticonceptivos',
 'V367': 'Quería quedar embarazada:',
 'V372': 'Se muestra el paquete de pastillas',
 'V372A': 'Se muestra el paquete de Condónes',
 'V375A': 'La razón principal para no utilizar un método',
 'V376': 'La razón principal por la que no piensa usar ningún método en el futuro',
 'V376A': 'Alguna vez usaría algún método',
 'V379': 'Fuente conocida por cualquier método',
 'V380': 'Fuente conocida por cualquier método (Grupos)',
 'V501': 'Estado civil actual',
 'V502': 'Actualmente, antes o nunca sacada',
 'V503': 'Usted ha estado casada o conviviendo solo una vez, más de una vez',
 'V504': 'Su esposo/compañer vive en el hogar o vive en otro lugar',
 'V505': 'Número de otras esposas',
 'V506': 'Número de rango de la esposa',
 'V507': 'Mes - Primer matrimonio',
 'V508': 'Año - Primer matrimonio',
 'V509': 'Fecha del primer matrimonio (CMC)',
 'V510': 'Integridad de la información para la fecha de inicio del primer matrimonio o unión',
 'V511': 'Edad al primer matrimonio',
 'V512': 'Años desde el primer matrimonio',
 'V513': 'Duración del matrimonio (agrupado)',
 'V525': 'Edad en la primera relación sexual',
 'V613': 'Número ideal de niños',
 'V714': 'Actualmente se encuentra trabajando',
 'V715': 'Educación en años individuales del esposo/compañero'}

## 6. Descriptive table

6. Get the min, max, sd, n_obs, n_missing for the following columns **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)**. We want a dataframe with the following columns **Variables, Min, Max, Mean, N_obs, N_missing** and sort by the number of missing rows. **Hint: Use `describe` and `pivot` methods**

In [17]:
# Main variables
selected_columns = ['V201', 'V613', 'V715', 'V511']
categorical_columns = ['V613', 'V715']

# Use describe for a quick summary
tab_1 =  endes_2019.loc[:,selected_columns].describe()
tab_2 =  endes_2019.loc[:,categorical_columns].describe()

# The categorical columns do not appear prob because they are a different type, so we need an additional line of code
# Calculate missing values for each variables
tab_1.loc["N_missing"] = endes_2019[selected_columns].isna().sum()
tab_1
tab_2.loc["N_missing"] = endes_2019[categorical_columns].isna().sum()
tab_2

missing_categorical = tab_2.loc["N_missing"] 
missing_categorical

V613     5024.0
V715    12454.0
Name: N_missing, dtype: float64

In [19]:
# Convert categorical to numeric
tab_2 =  endes_2019.loc[:,categorical_columns].describe()
endes_2019['V613'] = pd.factorize(endes_2019['V613'])[0]
endes_2019['V715'] = pd.factorize(endes_2019['V715'])[0]
endes_2019[categorical_columns] = endes_2019[categorical_columns].replace(-1, np.nan)
tab_2

# Overwrite former tab_1 so that it shows the 4 variables
tab_1 =  endes_2019.loc[:,selected_columns].describe()
tab_1.loc["N_missing"] = endes_2019[selected_columns].isna().sum()

# See the resulting table
tab_1

                   V201          V613          V715          V511
count      36922.000000  33311.000000  25881.000000  25881.000000
mean           1.781946      1.266969      3.559677     20.463738
std            1.749109      1.740427      4.621835      4.858358
min            0.000000      0.000000      0.000000     10.000000
25%            0.000000      0.000000      0.000000     17.000000
50%            1.000000      0.000000      1.000000     19.000000
75%            3.000000      3.000000      6.000000     23.000000
max           13.000000     14.000000     18.000000     48.000000
N_missing   1413.000000   5024.000000  12454.000000  12454.000000

In [20]:
# Pivot descriptive summary 
tab_1 = tab_1.loc[["min","max","mean","count","N_missing"]].transpose().reset_index()
# Rename the statistics
tab_1 = tab_1.rename(columns = {"index":"Variables", "min":"Min", "max":"Mix","mean":"Mean","count":"N_Obs"}).sort_values("N_Obs") 
tab_1

  Variables   Min   Mix       Mean    N_Obs  N_missing
2      V715   0.0  18.0   3.559677  25881.0    12454.0
3      V511  10.0  48.0  20.463738  25881.0    12454.0
1      V613   0.0  14.0   1.266969  33311.0     5024.0
0      V201   0.0  13.0   1.781946  36922.0     1413.0

## 7. Mean key vars

7. Use `endes_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [50]:
# #Select the columns to group by
group_columns = ['year', 'V024']

# Select the vars
key_vars = ["V201","V613","V715","V511"]
#df['column_name'] = pd.factorize(df['column_name'])[0]

# Calculate mean by department
mean_key_vars = endes_2019.groupby(group_columns)[key_vars].mean()


# Reset the index to obtain a dataFrame
mean_key_vars.reset_index(inplace=True)


# Rename in order the variables
mean_key_vars.columns = ['year', 'dpto','mean_total_children', 'mean_ideal_children', 'mean_hb_yr_educ', 'mean_first_marriage']

In [51]:
# Final result
mean_key_vars

,year,dpto,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,2019,Huanuco,1.989754,1.484919,5.841427,19.818632
1,2019,Ica,1.671034,1.249059,2.742132,20.747208
2,2019,Junin,1.836656,1.147833,3.220085,20.683761
3,2019,La Libertad,1.704082,1.282238,4.257511,20.774678
4,2019,Lambayeque,1.673928,1.360717,3.415521,20.953831
5,2019,Lima,1.476121,1.185909,2.798890,21.946329
6,2019,Loreto,2.157568,1.435125,4.060662,18.448529
7,2019,Madre de Dios,1.972514,1.344765,3.896478,19.467449
8,2019,Moquegua,1.626724,1.078923,2.369213,21.640046
9,2019,Pasco,1.854436,1.492754,3.237484,20.395379
10,2019,Piura,1.812752,1.519403,4.145753,20.451737
11,2019,Puno,1.794307,0.911943,2.608808,20.398964
12,2019,San Martin,1.903340,1.294118,4.394837,18.953155
13,2019,Tacna,1.436502,1.031889,2.216611,22.065095
14,2019,Tumbes,1.756925,1.323911,3.555241,19.409821
15,2019,Ucayali,2.012258,1.277533,3.526316,18.985481
16,2019,Amazonas,1.980892,1.418548,4.159113,19.266152
17,2019,Ancash,1.771065,1.323348,3.862344,20.591581
18,2019,Apurimac,2.003463,1.189216,3.878460,20.064982
19,2019,Arequipa,1.539910,1.094584,2.911040,22.304394
20,2019,Ayacucho,1.848787,1.265241,3.738366,20.340228
21,2019,Cajamarca,1.931559,1.280687,4.820321,19.610695
22,2019,Callao,1.567164,1.286923,2.630832,21.517241
23,2019,Cusco,1.894415,1.054422,3.746714,20.283154
24,2019,Huancavelica,2.083969,1.400385,4.270513,19.780769

## 8. Melt de reshape `mean_key_vars`

8. Reshape `mean_key_vars` from wide to long. We want a dataframe with three columns **dpto, variables, values**. Name this object as `reshape_mean_key_vars`. **Hint: Use melt method**.

In [52]:
reshape_mean_key_vars = mean_key_vars.melt(id_vars=['year', 'dpto'],
                                           value_vars=['mean_total_children', 'mean_ideal_children', 'mean_hb_yr_educ', 'mean_first_marriage'],
                                           var_name='variables',
                                           value_name='values')


# View the new dataframe
reshape_mean_key_vars

    year          dpto            variables     values
0   2019       Huanuco  mean_total_children   1.989754
1   2019           Ica  mean_total_children   1.671034
2   2019         Junin  mean_total_children   1.836656
3   2019   La Libertad  mean_total_children   1.704082
4   2019    Lambayeque  mean_total_children   1.673928
..   ...           ...                  ...        ...
95  2019      Ayacucho  mean_first_marriage  20.340228
96  2019     Cajamarca  mean_first_marriage  19.610695
97  2019        Callao  mean_first_marriage  21.517241
98  2019         Cusco  mean_first_marriage  20.283154
99  2019  Huancavelica  mean_first_marriage  19.780769

[100 rows x 4 columns]

9. Replicate your answers for questions 7 and 8, but in one line of code. Make it the most simple as possible. **NO HINT**

In [53]:
# One line
reshape_mean_key_vars = endes_2019.groupby(group_columns)[key_vars].mean().reset_index().melt(
    id_vars=['year', 'V024'],
    value_vars=["V201", "V613", "V715", "V511"],
    var_name='variables',
    value_name='values')

In [54]:
# View the dataframe again
reshape_mean_key_vars

    year          V024 variables     values
0   2019       Huanuco      V201   1.989754
1   2019           Ica      V201   1.671034
2   2019         Junin      V201   1.836656
3   2019   La Libertad      V201   1.704082
4   2019    Lambayeque      V201   1.673928
..   ...           ...       ...        ...
95  2019      Ayacucho      V511  20.340228
96  2019     Cajamarca      V511  19.610695
97  2019        Callao      V511  21.517241
98  2019         Cusco      V511  20.283154
99  2019  Huancavelica      V511  19.780769

[100 rows x 4 columns]

10. Merge `reshape_mean_key_vars` with `endes_2019`. Name this object `final_result`. **Hint: Use merge.**

In [176]:

final_result = reshape_mean_key_vars.merge(endes_2019, how = "left")
final_result

,year,dpto,variables,values,CASEID,V000,V001,V002,V003,V004,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,2019,Huanuco,mean_total_children,1.989754,000100201 2,PE6,1.0,2.0,2.0,1.0,...,2008.0,1297.0,Tiene mes y año,21.0,11.0,De 10 a 14 años,17.0,0,Sí,0
1,2019,Huanuco,mean_total_children,1.989754,000100201 3,PE6,1.0,2.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,1
2,2019,Huanuco,mean_total_children,1.989754,000102801 2,PE6,1.0,28.0,2.0,1.0,...,2011.0,1344.0,Tiene mes y año,28.0,7.0,De 5 a 9 años,18.0,2,Sí,2
3,2019,Huanuco,mean_total_children,1.989754,000102801 6,PE6,1.0,28.0,6.0,1.0,...,1984.0,1016.0,Tiene año - imputa mes,14.0,34.0,De 30 a más años,14.0,3,No,3
4,2019,Huanuco,mean_total_children,1.989754,000104801 2,PE6,1.0,48.0,2.0,1.0,...,2009.0,1320.0,Tiene mes y año,18.0,9.0,De 5 a 9 años,15.0,0,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3833495,2019,Huancavelica,mean_first_marriage,19.780769,325406201 2,PE6,3254.0,62.0,2.0,3254.0,...,1985.0,1032.0,Tiene mes y año,14.0,34.0,De 30 a más años,12.0,2,No,9
3833496,2019,Huancavelica,mean_first_marriage,19.780769,325406301 2,PE6,3254.0,63.0,2.0,3254.0,...,2002.0,1236.0,Tiene mes y año,14.0,17.0,De 15 a 19 años,12.0,2,No,14
3833497,2019,Huancavelica,mean_first_marriage,19.780769,325407001 2,PE6,3254.0,70.0,2.0,3254.0,...,1986.0,1043.0,Tiene mes y año,13.0,33.0,De 30 a más años,12.0,5,No,9
3833498,2019,Huancavelica,mean_first_marriage,19.780769,325407201 2,PE6,3254.0,72.0,2.0,3254.0,...,2008.0,1301.0,Tiene mes y año,13.0,11.0,De 10 a 14 años,13.0,0,No,0
3833499,2019,Huancavelica,mean_first_marriage,19.780769,325407401 2,PE6,3254.0,74.0,2.0,3254.0,...,2013.0,1362.0,Tiene mes y año,16.0,6.0,De 5 a 9 años,15.0,0,No,0