In [ ]:
1.1 TURPLE

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [ ]:
#3 Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?
tuple1[0] = "pink grapefruit"
# It is not possible to changes values, the tuple object does not support item assignment

In [ ]:
1.2 LIST

In [ ]:
import numpy as np

In [ ]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [ ]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

In [ ]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [ ]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [ ]:
#3 Print the length of f_list
print(len(f_list)) #With the len function I get the length of the list

In [ ]:
1.3 STRING

In [ ]:
str1 = 'I am                            too                                                        old'

In [ ]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [ ]:
#1
words = str1.split()
str1_v2 =''.join(words)

print(srt1_v2)

#2
len(str1)

#3 Get the number of blank spaces (all of them) in the string
n_blank_space=len(str1)-len(str1_v2)##To get the number of blanks, subtract the initial length less the length without blanks.
print(n_blank_space)

In [ ]:
1.4 PANDAS

In [3]:
import pandas as pd
import numpy as np

In [5]:
data1 = pd.read_csv(r"../../_data/new_up_data_sysdif_block_lvl_ver2.csv")
data2 = pd.read_csv(r"../../_data/ESA_CLIMATE_CHANGE_tree_layers.csv")

In [7]:
data1

,pc11_s_id,pc11_d_id,pc11_sd_id,year,post_ror_data_entry_block_any,post_ror_dist_softw_available_block_any,post_ror_aadhaar_link_block_any,post_mutation_computerized_block_any,post_digital_ror_issued_block_any,block_id,mean_night,count_night,sum_night,sd_name,frac_12,per_aggriculture,per_treecover,per_greencover,per_built
0,1,1,1,2000,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,NaN,NaN,31.286381,47.388935,21.324677
1,1,1,1,2001,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.064216,6.421551,33.507698,42.900303,23.592001
2,1,1,1,2002,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.076860,7.685976,28.036722,49.964584,21.998692
3,1,1,1,2003,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.072095,7.209489,32.680721,45.621540,21.697739
4,1,1,1,2004,0,0,0,0,0,1,0.003113,8192,25.503809,Kupwara,0.052910,5.290961,31.404015,41.732754,26.863232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131537,9,202,1012,2018,1,1,0,1,1,5965,0.267226,4315,1153.080078,Patiyali,0.953928,95.392793,5.095272,53.366138,41.401382
131538,9,202,1012,2019,1,1,0,1,1,5965,0.212258,4303,913.344971,Patiyali,0.961914,96.191359,4.311493,59.983742,35.600212
131539,9,202,1012,2020,1,1,0,1,1,5965,0.196405,4303,845.130005,Patiyali,0.961640,96.163976,8.594394,54.553619,36.757240
131540,9,202,1012,2021,1,1,0,1,1,5965,0.204011,4303,877.859985,Patiyali,0.964120,96.411973,5.193740,57.827095,36.744907
131541,9,202,1012,2022,1,1,0,1,1,5965,0.216364,4303,931.015015,Patiyali,0.970185,97.018504,7.170661,60.158665,32.470570

In [9]:
#3 
#Merge both datasets using the key variables pc11_s_id, pc11_d_id, pc11_sd_id, year
# This is done with the command merge 
#"on" keys pc11_s_id, pc11_d_id, pc11_sd_id, year
#outer: includes all rows from both DataFrames:
merged_data = sysdif_df.merge(climate_df, on=['pc11_s_id', 'pc11_d_id', 'pc11_sd_id', 'year'], how='outer')

In [11]:
# Mostrar las primeras filas del DataFrame fusionado
print(merged_data.head())

   pc11_s_id  pc11_d_id  pc11_sd_id  year  post_ror_data_entry_block_any  \
0          1          0           0  2000                            NaN
1          1          0           0  2001                            NaN
2          1          0           0  2002                            NaN
3          1          0           0  2003                            NaN
4          1          0           0  2004                            NaN

   post_ror_dist_softw_available_block_any  post_ror_aadhaar_link_block_any  \
0                                      NaN                              NaN
1                                      NaN                              NaN
2                                      NaN                              NaN
3                                      NaN                              NaN
4                                      NaN                              NaN

   post_mutation_computerized_block_any  post_digital_ror_issued_block_any  \
0                                   NaN                                NaN
1                                   NaN                                NaN
2                                   NaN                                NaN
3                                   NaN                                NaN
4                                   NaN                                NaN

   block_id  ...  frac_12  per_aggriculture  per_treecover per_greencover  \
0       NaN  ...      NaN               NaN            NaN            NaN
1       NaN  ...      NaN               NaN            NaN            NaN
2       NaN  ...      NaN               NaN            NaN            NaN
3       NaN  ...      NaN               NaN            NaN            NaN
4       NaN  ...      NaN               NaN            NaN            NaN

   per_built  sd_name_y  per_TREES-BD  per_TREES-BE  per_TREES-ND per_TREES-NE
0        NaN        NaN      0.134971      0.032221       0.00014     0.983223
1        NaN        NaN      0.134708      0.032221       0.00014     0.980547
2        NaN        NaN      0.134697      0.032157       0.00014     0.979766
3        NaN        NaN      0.134543      0.032157       0.00014     0.978852
4        NaN        NaN      0.134679      0.032528       0.00014     0.980174

[5 rows x 24 columns]